<p-toast [style]="{marginTop: '80px'}"></p-toast>

<h2 style="text-align:center">Listagem de Itens</h2>
<p-table [value]="items" selectionMode="single" [(selection)]="selectedItem" (onRowSelect)="onRowSelect($event)" [paginator]="true"  [rows]="10" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Perecível?</th>
        <th>Dt. Validade</th>
        <th>Dt. Fabricação</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr [pSelectableRow]="item">
            <td>{{item.name}}</td>
            <td>{{item.quantity}}  {{item.unitOfMeasure}}</td>
            <td>R$ {{item.price }}</td>
            <td>{{item.perishable | booleanPipe}}</td>
            <td>{{item.validityDate | date : 'dd/MM/yyyy'}}</td>
            <td>{{item.manufactureDate | date : 'dd/MM/yyyy'}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-item>
      <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="showAdd()" label="Adicionar Item"></button>
      </div>
  </ng-template>
</p-table>

<p-dialog header="Detalhes do Item" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
  <div class="ui-g ui-fluid" *ngIf="selectedItem">
    O que deseja fazer com o item selecionado?
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="deleteItem(selectedItem.name)" label="Excluir Item"></button>
          <button type="button" pButton icon="fa fa-check" (click)="showEdit()" label="Editar"></button>
      </div>
  </p-footer>
</p-dialog>
